# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/
next-env.d.ts

# Env & secrets
.env
.env.*
!.env.example

# Testing
coverage/
playwright-report/
test-results/
/blob-report/
.playwright/

# Vercel & TS
.vercel
*.tsbuildinfo

# OS / editor
.DS_Store
.idea/
.vscode/
